/* Reset */
* {
  margin: 0;
  padding: 0;
}
/* Generic Styles */
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
/* Generic Layout */
section {
  width: 75%;
  margin: 0 auto;
  padding: 12px;
}
/* Header */
header {
  background: #eee;
}
header > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Canvas */
canvas {
  width: 100%;
  border: 1px solid black;
}
